<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rkm.rkmattendanceapp">

    <application
        android:name=".AttendanceApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rkmattendanceapp"
        tools:targetApi="31">
        <activity
            android:name=".ui.MarkAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddEditEventActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdminMainActivity" />
        <activity
            android:name=".ui.AddEditDevoteeActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdminMainActivity" />
        <activity
            android:name=".ui.RoleSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.Rkmattendanceapp.NoActionBar" />
        <activity
            android:name=".ui.PinEntryActivity"
            android:exported="false"
            android:theme="@style/Theme.Rkmattendanceapp.NoActionBar" />
        <activity
            android:name=".ui.MappingActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdminMainActivity" />
        <activity
            android:name=".ui.reports.ReportEventListActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdminMainActivity" />
        <activity
            android:name=".ui.reports.ReportDevoteeActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdminMainActivity" />
        <activity
            android:name=".ui.AboutActivity"
            android:exported="false" />

        <activity
            android:name=".ui.BackupRestoreActivity"
            android:exported="false" />

        <!-- NEWLY ADDED ACTIVITIES FOR DONATIONS -->
        <activity
            android:name=".ui.donations.DonationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.donations.AddEditDonationActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
